RewriteEngine On
#Options +FollwSymlinks
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home?$ index.php
RewriteRule ^category/([0-9]+)/?$ category.php?id=$1 [L]